@import 'breakpoints';

.draganddrop {
	$parent: &;

	padding: 50px;
	border: 1px solid #ccc;

	&.active {
		background-color: #ccc;
	}

	&__previews {
		img {
			width: 80px;
			display: inline-block;
		}
	}
}
