@import 'breakpoints';

.field {
	$parent: &;

	margin: var(--space-sm) 0;

	#{$parent} {
		margin: 0;
		padding: 0;
	}

	&--group {
		#{$parent} {
			&__fields {
				display: flex;

				#{$parent} {
					flex-grow: 1;
				}

				#{$parent}:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}

	&__error {
		margin: 10px 0 0 0;
		padding: var(--space-xs) var(--space-sm);
		color: var(--clr-error-contrast);
		background-color: var(--clr-error);
	}
}

.form {
	$parent: &;

	&-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}
}

fieldset {
	min-width: 0;
	padding: 0;
	border: 0;
	margin: 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

input,
textarea,
select,
keygen,
option,
optgroup,
button,
legend,
fieldset {
	outline: none;
	color: inherit;
	vertical-align: top;
	display: block;
}

input,
button,
select,
keygen,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-style: inherit;
	font-weight: inherit;
}

datalist {
}

legend {
	padding: 0;
	font-weight: inherit;
	display: block;
	width: 100%;
	border: 0;
	line-height: inherit;
}

label {
	// Force IE8 to wrap long content
	max-width: 100%;
	display: block;
	position: relative;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
	transition: all 0.2s;

	a {
		text-decoration: underline;
	}

	// Empty labels collapse automatically (not available in IE8)
	&:empty {
		display: none;
	}
}

datalist {
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='number'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[list],
input[type='file'],
select,
keygen,
textarea {
	width: 100%;
	padding: var(--space-xs);
	border-radius: var(--radius);

	background-color: var(--clr-bg);

	border: 1px solid #eee;
	color: inherit;

	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

	// Reset unusual Firefox-on-Android default style;
	// see https://github.com/necolas/normalize.css/issues/214
	background-image: none;

	&:active,
	&:focus {
		cursor: text;
		outline: none;
	}
}

input,
textarea,
select {
	&:focus {
		box-shadow: 0 0 0 3px var(--clr-primary-a20, rgba(0, 0, 0, 0.1));
	}
}

select,
keygen,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		border: 0;
		background-color: transparent;
	}

	// Disabled and read-only inputs
	//
	// HTML5 says that controls under a fieldset > legend:first-child won't be
	// disabled if the fieldset is disabled. Due to implementation difficulty, we
	// don't honor that edge case; we style them as disabled anyway.
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		// TODO - style this
		//background-color		: @input-bg-disabled;
		// iOS fix for unreadable disabled content;
		opacity: 1;
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}

input,
textarea,
button {
	&[disabled] {
		pointer-events: none;
	}
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='number'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[list] {
	-webkit-appearance: none;
}

textarea {
	-webkit-appearance: none;
	resize: vertical;
	overflow: auto;

	// Reset height for `textarea`s
	height: auto;
	min-height: 6rem;
}

input[type='range'] {
	width: 100%;
	display: block;
	-webkit-appearance: none;

	$width: 100%;
	$track-height: 5px;
	$track-border-radius: 0px;
	$track-background-color: #ac51b5;

	&::-webkit-slider-runnable-track {
		width: $width;
		height: $track-height;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

		border-radius: $track-border-radius;
		border: 0px solid #000000;
	}

	&:in-range::-webkit-slider-runnable-track {
	}

	&:out-of-range::-webkit-slider-runnable-track {
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 20px;
		border-radius: 100%;
		cursor: pointer;
		margin-top: -3.6px;
	}

	&:focus::-webkit-slider-runnable-track {
		background: $track-background-color;
	}

	&::-moz-range-track {
		width: $width;
		height: $track-height;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		background: $track-background-color;
		border-radius: $track-border-radius;
		border: 0px solid #000000;
	}

	&::-moz-range-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #65001c;
		cursor: pointer;
	}

	&::-ms-track {
		width: $width;
		height: $track-height;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		border-width: 39px 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: $track-background-color;
		border: 0px solid #000000;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}

	&::-ms-fill-upper {
		background: $track-background-color;
		border: 0px solid #000000;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}

	&::-ms-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #65001c;
		cursor: pointer;
	}

	&:focus::-ms-fill-lower {
		background: $track-background-color;
	}

	&:focus::-ms-fill-upper {
		background: $track-background-color;
	}
}

input[type='file'] {
	display: block;
}

input[type='search'] {
	box-sizing: border-box;
	-webkit-appearance: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

select {
	/*
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
	*/

	option {
		padding: var(--space-sm);
	}

	&[multiple],
	&[size] {
		// Make multiple select elements height not fixed
		height: auto;
		padding: 0;

		option {
			margin: 0;
		}
	}
}

label,
input,
textarea,
button,
select,
option {
	cursor: pointer;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='image'] {
}

input[type='image'] {
	text-align: center;
	padding: var(--space-sm);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='number'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[list],
input[type='file'],
select,
textarea,
textarea,
select,
option {
	&[disabled] {
		cursor: not-allowed;
	}

	&:hover {
		// TODO: this
		// border-color: green;
	}

	&:focus {
	}

	&[readonly] {
		// TODO: this
		//border-color: blue !important;

		box-shadow: none;

		cursor: inherit;
	}
}

input[aria-invalid='true'],
textarea[aria-invalid='true'],
select[aria-invalid='true'] {
	&,
	&:focus {
		// border-color: red;
	}
}

input[aria-invalid='false'],
textarea[aria-invalid='false'],
select[aria-invalid='false'] {
	&,
	&:focus {
		// border-color: green;
	}
}

input[type='checkbox'],
input[type='radio'] {
	margin: 0 5px 0 0;
	margin-top: 1px \9;

	// IE8-9
	line-height: normal;

	// make sure that these always display inline - as they should be next to an input
	display: inline-block;
	vertical-align: middle;

	+ label {
		width: auto;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
	}

	&[disabled] {
		+ label {
			cursor: not-allowed;
		}
	}

	&:focus {
		outline: 0;
	}
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	&:hover,
	&:focus {
	}
}

progress {
	appearance: none;
	height: 20px;
	display: block;
	width: 100%;

	$background: #eee;
	$progress: #cc0000;

	// firefox
	border: none;
	background: $background;
	border-radius: var(--radius);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;

	&::-webkit-progress-bar {
		background: $background;
		border-radius: var(--radius);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
	}

	&::-webkit-progress-value {
		background-color: $progress;
		border-radius: var(--radius);
	}

	&::-moz-progress-bar {
		background-color: $progress;
		border-radius: var(--radius);
	}
}

meter {
	height: 20px;
	display: block;
	width: 100%;

	$optimum: var(--clr-success);
	$sub-optimum: var(--clr-warning);
	$sub-sub-optimum: #cc4600;
	$background: #eee;

	// Chrome
	background: $background;
	border-radius: var(--radius);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;

	&::-webkit-meter-bar {
		background: $background;
		border-radius: var(--radius);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
	}

	&::-webkit-meter-optimum-value,
	&::-webkit-meter-suboptimum-value,
	&::-webkit-meter-even-less-good-value {
		border-radius: var(--radius);
	}

	&::-webkit-meter-optimum-value {
		background: $optimum;
	}

	&::-webkit-meter-suboptimum-value {
		background: $sub-optimum;
	}

	&::-webkit-meter-even-less-good-value {
		background: $sub-sub-optimum;
	}

	// firefox
	&::-moz-meter-bar {
		border-radius: var(--radius);
	}

	&:-moz-meter-optimum::-moz-meter-bar {
		background: $optimum;
	}

	&:-moz-meter-sub-optimum::-moz-meter-bar {
		background: $sub-optimum;
	}

	&:-moz-meter-sub-sub-optimum::-moz-meter-bar {
		background: $sub-sub-optimum;
	}
}

input,
textarea {
	@include placeholder {
		// TODO
		color: #ddd;
	}
}

input[type='color'] {
	padding: 0;
	width: auto;
	min-width: 1.5rem;
}

output {
	display: block;
}

keygen {
}
